body {
  background-image: url('images/sandBG.png');
}

/* Remove default browser margins */
body {
  margin: 0;
}

/* Center the pond horizontally */
.pond-center {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Container with fixed size */
.pond-container {
  position: relative;
  width: 500px;
  height: 500px;
}

/* Pond image */
.pond-bg {
  width: 100%;
  height: 100%;
  display: block;
}

/* Fish iframe overlay */
.pond-fish {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  border: none;
  background: transparent;
  border-radius: 50%;
}